.btn {
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 0.04em;
    color: white;
    background-color: rgb(44, 35, 19);
    border: 0px;
    /* border: 1px solid white; */
    border-radius: 3px;
    padding: 0.55em 2em;
    cursor: pointer;
    text-transform: uppercase;
}