nav {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav .logo {
    margin: 1em;
    max-width: 100px;
}

nav .logo img {
    width: 100%;
}